{% extends 'base.html' %} {% load static %} {% block page_title %} | Contact {% endblock %} {% block content %}

<section class="header">
    <div class="row mb-3">
        <div class="col-12 text-center">
            <h1 class="headliner-text">Contact Us:</h1>
            <hr>
        </div>
    </div>
</section>

<section class="contact-page">
    <div class="row mb-3">
        <div class="col-12">
            <h3>We can be contacted via email @ <a class="text-link" href="mailto:Snowdoncoder@gmail.com">Snowdoncoder@gmail.com</a></h3>
        </div>
    </div>
</section>


{% endblock %}