{% extends 'base.html' %} {% load static %} {% block page_title %} | Home {% endblock %} {% block content %}

<section class="header">
    <div class="row mb-3">
        <div class="col-12 text-center">
            <h1 class="headliner-text">Snowdon Coding Solutions</h1>
            <hr>
        </div>
    </div>
</section>

<section class="front-page">
    <div class="row mb-3">
        <div class="col-6">
            <h2 class="text-center">
                Who We Are:
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis recusandae ipsum molestiae, rem iure labore tempore libero dolorem culpa adipisci non nobis maiores facere neque!
            </p>
        </div>
        <div class="col-6"></div>
        <div class="col-6"></div>
        <div class="col-6">
            <h2 class="text-center">
                What We Do:
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis recusandae ipsum molestiae, rem iure labore tempore libero dolorem culpa adipisci non nobis maiores facere neque!
            </p>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
</section>

<section class="front-prices">
    <div class="row mb-3">
        <div class="col-12">
            <h2 class="text-center">Prices & Day Rates</h2>
            <ul class="list-group">
                <li class="list-group-item">First item</li>
                <li class="list-group-item">Second item</li>
                <li class="list-group-item">Third item</li>
            </ul>
        </div>
    </div>
</section>


{% endblock %}