{% extends 'base.html' %} {% load static %} {% block page_title %} | Home {% endblock %} {% block content %}

<section class="header">
    <div class="row mb-3">
        <div class="col-12 text-center">
            <h1 class="headliner-text">Snowdon Coding Solutions</h1>
            <hr>
        </div>
    </div>
</section>

<section class="front-page">
    <div class="row mb-3">
        <div class="col-md-6">
            <h2 class="text-center">
                Who We Are:
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis recusandae ipsum molestiae, rem iure labore tempore libero dolorem culpa adipisci non nobis maiores facere neque!
            </p>
        </div>
        <div class="col-md-6">
            <img src="https://placekeanu.com/500/300/y" class="img-fluid" alt="Responsive image">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <img src="https://placekeanu.com/500/300/" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-6">
            <h2 class="text-center">
                What We Do:
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis recusandae ipsum molestiae, rem iure labore tempore libero dolorem culpa adipisci non nobis maiores facere neque!
            </p>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
</section>

<!-- <section class="front-prices">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Service:</th>
                        <th scope="col">Price</th>
                        <th scope="col">Extras?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Custom Websties</th>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> -->


{% endblock %}