{% extends 'base.html' %} {% load static %} {% block page_title %} | Home {% endblock %} {% block content %}

<section class="header">
    <div class="row mb-3">
        <div class="col-12 text-center">
            <h1 class="headliner-text">Snowdon Coding Solutions</h1>
            <hr>
        </div>
    </div>
</section>

<section class="front-page">
    <div class="row mb-3">
        <div class="col-md-6 order-md-1">
            <h2 class="text-center">
                Who We Are:
            </h2>
            <p>
                Here at Snowdon Coding Solutions (SCS) we provide simple but elegent Software solutions to your business issues. <br>
                SCS is a small technology company based in the West Midlands, UK with over 5 years experince in a wide range of industries. <br>
                SCS is ran by Jack Snowdon, a versatile Django/Python developer with a passion for creating simple to use tools that make a difference.
            </p>
        </div>
        <div class="col-md-6 order-md-2">
            <img src="https://placekeanu.com/500/300/y" class="img-fluid" alt="Responsive image">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 order-md-2">
            <img src="https://placekeanu.com/500/300/" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-6 order-md-1">
            <h2 class="text-center">
                What We Do:
            </h2>
            <p>
                SCS Provides software development contracting services. <br>
                SCS is also working on in house services to provide simple business solutions. <br>
                We are always keen to hear your ideas and concepts. <br>
                Interested? Contact us here!
            </p>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
</section>


{% endblock %}